@charset "UTF-8";

.box{
	font-size: 20px;
	margin: 30px 35%;
	padding: 30px;
	text-align: center;
}

table{
	width: 300px;
	align-content: center;
}

table th{
	padding: 10px;
}

table td{
	padding: 10px;
}