@charset "UTF-8";

	*{
		padding: 0;
		margin: 0;
	}

	.icon{
 		font-size: 30px;
		color: #003300;
 		font-weight: bold;
		font-family: '游明朝体', cursive;
		text-align: center;
		padding: 30px 0 20px 0;
		border-top: solid 15px;
		background-image: url(../images/sky.jpg);
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #000066;
	}
	li {
		float: left;
		border-right: 1px solid #bbbbbb;
	}
	li:last-child {
		border-right: none;
	}
	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}
	li a:hover:not(.active) {
		background-color: #a9bce2;
	}
	.active {
		background-color: #33CC66;
	}

	html {
		background: linear-gradient(#8EB8FF, #EEFFFF) fixed;  /* 両端部分に付ける背景色(黄緑色) */
	}
	
	body {
		margin: 0px 7%;  /* 外側の余白を、上下はゼロで左右は画面横幅の15％に */
		padding: 0px;     /* 内側の余白を消す */
	}

	.head-border {
		position: relative;
		display: inline-block;
		padding: 30px 55px;
		margin: 0 30px;
		color: #555555;
		font-size: 40px;
	}
	.head-border:before,
	.head-border:after {
		content: '';
		position: absolute;
		top: 50%;
		display: inline-block;
		width: 50px;
		height: 5px;
		background-color: #666;
	}
	.head-border:before {
		left: 0;
		background: linear-gradient(-90deg, #666, transparent);
	}
	.head-border:after {
		right: 0;
		background: linear-gradient(90deg, #666, transparent);
	}
